@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --text: #f5eee6;
    --text2: #f3d7ca;
    --text3:#e6a4b4;
    --bg:#c86b85;
}

* {
    font-family: 'Gwendolyn','Poppins','Pacifico','Bellota';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    background-image: url(../overlay/bg-content.png);
    background-repeat: repeat;
    background-size: contain;
}

@media (max-width:1366px) {
    html {
        font-size: 85%;
    }
}

@media (max-width:844px) {
    html {
        font-size: 65.5%;
    }
}


@media (max-width: 750px){
    html {
        font-size: 30%;
    }
}

.container{
    background-image: url(../overlay/bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}
.container .isi {
    padding: 1rem;
}

.container .isi .judul h1{
    margin: 0.5rem 5%;
    padding-top: 2rem;
    font-family: 'Pacifico';
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #94663a;
}

.container .isi .desc {
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 7%;
    padding-left: 5rem;
    color: #736d66;
}

.container .content {
    display: flex;

}

.container .content .img {
    flex: 1 1 15rem;
    padding-left: 6rem;
}

.container .content .img img {
    margin-bottom: 1rem;
    width: 100%;
    transform:rotate(-5deg) ;
}

.container .content .text {
    padding-right: 7rem;
    text-align: justify;
    padding-left: 2rem;
}

.container .content .text p{
    font-family: 'Poppins';
    color: #736d66;
    font-weight: 500;
    padding-right: 1rem;
}

.container .content2 {
    display: flex;
}

.container .content2 .img {
    flex: 1 1 45rem;
    padding-right: 5rem;
}

.container .content2 .img img {
    width: 100%;
    margin-bottom: 1rem;
    transform: rotate(5deg);
}

.container .content2 .text {
    padding-left: 12rem;
    padding-top: 2rem;
    padding-right: 3rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.container .content2 .text p{
    color: #736d66;
    margin-bottom: 10%;
    font-family: 'Poppins';
    font-weight: 500;

}

.container2{
    display: flex;
}

.container2 .img img{
    width: 100%;
    height: 100%;
}

.container3 {
    background-image: url(../overlay/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container3 .content3{
    display: flex;
}

.container3 .content3 h1{
    position: relative;
    font-size: 3rem;
    color: var(--text);
    font-family:'Bellota';
    margin: 2rem 1rem 1rem 22.5rem;
    font-weight: bolder;
    color: #9b4819;
    padding-bottom: 1rem;
}

.container3 .data2 {
    display: flex;
}

.container3 .data2 .foto{
    flex: 1 1 25rem;
}

.container3 .data2 .foto img{
    width: 100%;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.container3 .data2 .bio-text{
    text-align: justify;
}

.container3 .data2 .bio-text p{
    font-family: 'Poppins';
    color: #736d66;
    font-weight: 500;
    padding-right: 3rem;
    padding-left: 5rem;
    padding-bottom: 4rem;
}


.container4{
    display: flex;
}

.container4 .content4 .wish img{
    width: 100%;
    height: 100%;
}

.container5{
    display: flex;
}


.container5 .judul2 h1{
    position: absolute;
    color: #f5eee6;
    font-size: 3rem;
    font-family: 'Poppins';
    margin: 2rem 1rem 1rem 27.5rem;
}

.container5 .content5 {
    display: flex;
}

.container5 .content5 .pertama{
    flex: 1 1 80rem;
}


.container5 .content5 .pertama img{
    width: 100%;
    padding-top: 10rem;
    padding-left: 5rem;
}

.container5 .content5 .text-pertama{
    padding-left: 2.5rem;
    padding-top: 10rem;
    padding-right: 5rem;
    text-align: justify;
}

.container5 .content5 .text-pertama p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}


.container6{
    display: flex;
}


.container6 .content6 {
    display: flex;
}

.container6 .content6 .kedua{
    flex: 1 1 55rem;
}


.container6 .content6 .kedua img{
    width: 100%;
    padding-top: 10rem;
    padding-left: 5rem;
}

.container6 .content6 .text-kedua{
    padding-left: 2.5rem;
    padding-top: 10rem;
    padding-right: 5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.container6 .content6 .text-kedua p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.container7{
    display: flex;
}


.container7 .content7 {
    display: flex;
}

.container7 .content7 .ketiga{
    flex: 1 1 60rem;
}


.container7 .content7 .ketiga img{
    width: 100%;
    padding-top: 10rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.container7 .content7 .text-ketiga{
    padding-left: 5rem;
    padding-right: 2.5rem;
    padding-top: 10rem;
    text-align: justify;
}

.container7 .content7 .text-ketiga p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.container8{
    display: flex;
}


.container8 .content8 {
    display: flex;
}

.container8 .content8 .keempat{
    flex: 1 1 35rem;
}


.container8 .content8 .keempat img{
    width: 100%;
    padding-top: 10rem;
    padding-left: 5rem;
}

.container8 .content8 .text-keempat{
    padding-left: 2.5rem;
    padding-top: 10rem;
    padding-right: 5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.container8 .content8 .text-keempat p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.container9{
    display: flex;
}


.container9 .content9 {
    display: flex;
}

.container9 .content9 .kelima{
    flex: 1 1 45rem;
}


.container9 .content9 .kelima img{
    width: 100%;
    padding-top: 10rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.container9 .content9 .text-kelima{
    padding-left: 5rem;
    padding-right: 2.5rem;
    padding-top: 10rem;
    text-align: justify;
}

.container9 .content9 .text-kelima p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.container10{
    display: flex;
}


.container10 .content10 {
    display: flex;
}

.container10 .content10 .keenam{
    flex: 1 1 25rem;
}


.container10 .content10 .keenam img{
    width: 100%;
    padding-top: 10rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.container10 .content10 .text-keenam{
    padding-left: 2.5rem;
    padding-top: 10rem;
    padding-right: 5rem;
    text-align: justify;
}

.container10 .content10 .text-keenam p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.container11{
    display: flex;
}


.container11 .content11 {
    display: flex;
}

.container11 .content11 .ketujuh{
    flex: 1 1 75rem;
}


.container11 .content11 .ketujuh img{
    width: 100%;
    padding-top: 10rem;
    padding-right: 5rem;
}

.container11 .content11 .text-ketujuh {
    padding-left: 5rem;
    padding-top: 10rem;
    padding-right: 2.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.container11 .content11 .text-ketujuh p{
    font-family: 'Poppins';
    color: var(--text);
    font-weight: 500;
    padding-right: 1rem;
}

.footer{
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 100%;
    color: #f5eee6;
    padding-bottom: 1rem;
}

.footer h1{
    font-family: 'Pacifico';
    font-weight: 500;
    font-size: 1.5rem;
}

.footer p{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.8rem;
}
